/*TUTORIALS FLEXBOX CARDS - WEB------------------------------*/
@media screen and (min-width: 800px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #faedca;
    }

    .cards-item {
        display: flex;
        padding: 1rem;
        width: 33.3333%;
    }

    .card {
        background-color: white;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .card-image {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        display: block;
        background-size: contain;
        padding-top: 56.25%;
    }

    .card-btn {
        padding: 0.5rem;
        display: block;
        width: 100%;
        border: none;
        background-color: #fe5d26;
        color: white;
        border-radius: 5px;
        font-family: 'Tw Cen MT';
        font-size: 1.5vw;
    }

        .card-btn:hover {
            font-size: 2vw;
        }

    .card-content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: 1rem;
    }

    .card-title {
        color: green;
        font-size: 1.25rem;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .card-text {
        flex: 1 1 auto;
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 1.25rem;
    }

    .image-1 {
        background-image: url('../images/tutorial_1_r.jpeg');
    }

    .image-2 {
        background-image: url('../images/tutorial_2_r.jpg');
    }

    .image-3 {
        background-image: url('../images/tutorial_3_r.jpeg');
    }

    .image-4 {
        background-image: url('../images/tutorial_4_r.jpg');
    }

    .image-5 {
        background-image: url('../images/tutorial_5_r.jpeg');
    }

    .image-6 {
        background-image: url('../images/tutorial_6_r.jpeg');
    }

    .image-7 {
        background-image: url('../images/tutorial_7_r.jpg');
    }
}
/*TUTORIALS FLEXBOX CARDS - WEB-------------------------------*/

/*TUTORIALS FLEXBOX CARDS - TABLET----------------------------*/
@media screen and (min-width: 399px) and (max-width: 800px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #faedca;
    }

    .cards-item {
        display: flex;
        padding: 1rem;
        width: 50%;
    }

    .card {
        background-color: white;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .card-image {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        display: block;
        background-size: contain;
        padding-top: 100%;
    }

    .card-btn {
        padding: 0.5rem;
        display: block;
        width: 100%;
        border: none;
        background-color: #fe5d26;
        color: white;
        border-radius: 5px;
        font-family: 'Tw Cen MT';
        font-size: 2vw;
    }

        .card-btn:hover {
            font-size: 2vw;
        }

    .card-content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: 1rem;
    }

    .card-title {
        color: green;
        font-size: 1.25rem;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .card-text {
        flex: 1 1 auto;
        font-size: 0.9rem;
        line-height: 1.5;
        margin-bottom: 1.25rem;
    }

    .image-1 {
        background-image: url('../images/tutorial_1_s.jpeg');
    }

    .image-2 {
        background-image: url('../images/tutorial_2_s.jpg');
    }

    .image-3 {
        background-image: url('../images/tutorial_3_s.jpeg');
    }

    .image-4 {
        background-image: url('../images/tutorial_4_s.jpg');
    }

    .image-5 {
        background-image: url('../images/tutorial_5_s.jpeg');
    }

    .image-6 {
        background-image: url('../images/tutorial_6_s.jpeg');
    }

    .image-7 {
        background-image: url('../images/tutorial_7_s.jpg');
    }
}
/*TUTORIALS FLEXBOX CARDS - TABLET----------------------------*/

/*TUTORIALS FLEXBOX CARDS - MOBILE----------------------------*/
@media screen and (max-width: 399px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #faedca;
    }

    .cards-item {
        display: flex;
        padding: 1rem;
        width: 100%;
    }

    .card {
        background-color: white;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .card-image {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        display: block;
        background-size: contain;
        padding-top: 100%;
    }

    .card-btn {
        padding: 0.5rem;
        display: block;
        width: 100%;
        border: none;
        background-color: #fe5d26;
        color: white;
        border-radius: 5px;
        font-family: 'Tw Cen MT';
        font-size: 4vw;
    }

        .card-btn:hover {
            font-size: 5vw;
        }

    .card-content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: 1rem;
    }

    .card-title {
        color: green;
        font-size: 1.25rem;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .card-text {
        flex: 1 1 auto;
        font-size: 0.875rem;
        line-height: 1.5;
        margin-bottom: 1.25rem;
    }

    .image-1 {
        background-image: url('../images/tutorial_1_s.jpeg');
    }

    .image-2 {
        background-image: url('../images/tutorial_2_s.jpg');
    }

    .image-3 {
        background-image: url('../images/tutorial_3_s.jpeg');
    }

    .image-4 {
        background-image: url('../images/tutorial_4_s.jpg');
    }

    .image-5 {
        background-image: url('../images/tutorial_5_s.jpeg');
    }

    .image-6 {
        background-image: url('../images/tutorial_6_s.jpeg');
    }

    .image-7 {
        background-image: url('../images/tutorial_7_s.jpg');
    }
}
    /*TUTORIALS FLEXBOX CARDS - MOBILE----------------------------*/
