/*CSS FOR SCREENS WITH MIN WIDTH OF 800PX*/
@media screen and (min-width: 800px) {
    /*GENERAL-------------------------------------------------*/
    body {
        font-family: 'Tw Cen MT';
        font-size: 1.5em;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        margin: 0;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    .main-content {
        flex: 1;
    }

    a {
        color: #fe5d26;
        text-decoration: none;
    }

    a:hover {
        color: #f2c078;
    }

    hr {
        width: 75%;
        border: 0;
        height: 2px;
        background: #fe5d26;
        background-image: linear-gradient(to right, white, #fe5d26, white);
    }

    .the-yoga-group {
        font-size: 2vw;
        color: #faedca;
        background-color: #fe5d26;
        padding: 2pt;
    }

    h2 {
        color: #4ecf63;
        text-align: center;
    }

    a.current {
        font-size: 1.4em;
    }

    .header-link {
        padding: 0;
        margin: 0;
        color: #4ecf63;
    }
    /*GENERAL-------------------------------------------------*/

    /*LOGO----------------------------------------------------*/
    .banner-flex {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #logo {
        margin: auto;
    }
    /*LOGO----------------------------------------------------*/

    /*NAVIGATION----------------------------------------------*/
    .ul-flex {
        display: flex;
        margin: auto;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        flex-wrap: wrap;
        flex-basis: 100%;
        max-width: 700px;
    }

    div a {
        display: block;
        list-style-type: none;
        padding: 5px;
    }
    /*NAVIGATION----------------------------------------------*/

    /*MEMBERSHIP----------------------------------------------*/
    .membership-flex {
        background: #faedca;
        background-image: linear-gradient(to right, white, #faedca, white);
        border-top: thin solid #fe5d26;
        border-bottom: thin solid #fe5d26;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        flex: auto;
    }

    .membership-link {
        color: #fe5d26;
        text-decoration: none;
        font-size: 7vw;
    }

    .membership-link:hover .membership-flex {
        background: #fe5d26;
        background-image: linear-gradient(to right, #c1dbb3, #c1dbb3, #c1dbb3 );
        color: white;
    }
    /*MEMBERSHIP----------------------------------------------*/

    /*PRODUCTS------------------------------------------------*/
    .product-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    .product-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 210px;
    }

    .product-child a {
        display: block;
    }

    .product-picture {
        display: block;
    }

    .product-big-flex a {
        color: #4ecf63;
    }

    .product-big-flex a:hover {
        background-color: #c1dbb3;
        color: white;
    }

    .products-upcoming-classes-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;        
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 0;
    }

    .product-big-flex {
        text-align: center;
        border: thin solid #fe5d26;
        margin: 10px;
        color: #4ecf63;
        padding-right: 10px;
        padding-left: 10px;
        min-width: 640px;
        flex: auto;
    }

    .product-child p {
        text-align: justify;
        font-size: 1rem;
        padding: 7px;
        margin-top: 0;
    }
    /*PRODUCTS------------------------------------------------*/

    /*UPCOMING------------------------------------------------*/
    .upcoming-flex-web {
        border: thin solid #fe5d26;
        margin: 10px;
        color: #4ecf63;
        text-align: center;
        min-width: 300px;
        flex-shrink: 2;
        flex: auto;
    }

    .upcoming-tutorial-flex {
        display: none;
    }
    /*UPCOMING------------------------------------------------*/

    /*CALENDAR------------------------------------------------*/
    .calendar-tutorial-flex {
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 0;
        flex-wrap: nowrap;
    }

    .calendar-flex {
        color: #4ecf63;
        background-color: #faedca;
        margin: 10px;
        padding: 10px;
        width: 100%;
        text-align: center;
        order: 2;
    }
    /*CALENDAR------------------------------------------------*/

    /*TUTORIAL------------------------------------------------*/
    .tutorial-flex {
        background-color: #faedca;
        color: #4ecf63;
        margin: 10px;
        padding: 10px;
        width: 100%;
        text-align: center;
        order: 1;
    }

    .iframe-flex {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
    }

    .iframe-child {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
    /*TUTORIAL------------------------------------------------*/

    /*FOOTER--------------------------------------------------*/
    .footer-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        margin-top: 10px;
        padding-right: 5px;
        padding-left: 5px;
        padding-top: 5px;
        color: #4ecf63;
        background: #faedca;
        background-image: linear-gradient(to right, white, #faedca, white);
        border-top: thin solid #fe5d26;
        overflow: hidden;
    }

    .contact-info {
        order: 1;
        padding-left: 5pt;
        min-width: 200px;
    }

    .contact-info h4 {
        margin: 0;
    }

    .contact-info p {
        font-size: .9rem;
    }

    .space-between {
        order: 2;
        flex-grow: 2;
    }

    #social-1 {
        order: 3;
    }

    #social-2 {
        order: 4;
    }

    #social-3 {
        order: 5;
    }

    .footer-flex address {
        font-size: 1rem;
    }
    /*FOOTER--------------------------------------------------*/

    /*MEMBERSHIP / SURVEY FORMS and WELCOME-------------------*/
    .form {
        background-color: #faedca;
        padding: 20px;
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
        width: 50%;
    }

    #q-1 {
        display: block;
    }

    #q-2 {
        display: none;
    }

    #q-3 {
        display: none;
    }

    #q-4 {
        display: none;
    }

    #q-5 {
        display: none;
    }

    .form-flex {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .form-child {
        background-color: white;
        width: 100%;
        /*display: inline-block;*/
    }

    #f-fname {
        margin-right: 5px;
        margin-bottom: 5px;
    }

    #f-lname {
        margin-left: 5px;
        margin-bottom: 5px;
    }

    #f-street, #f-city, #f-state, #f-zip, #f-email, #f-phone {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #f-city, #f-email {
        margin-right: 5px;
    }

    #f-state {
        margin-left: 5px;
        margin-right: 5px;
    }

    #f-zip, #f-phone {
        margin-left: 5px;
    }

    label {
        display: block;
        color: #f2c078;
    }

    .form input, select {
        width: 100%;
        border: none;
    }

    #form-survey label {
        color: black;
    }

    input::placeholder {
        color: #c1dbb3;
    }

    .form select {
        border: none;
        width: 100%;
        background-color: white;
    }

    #form-basic-info button {
        border: none;
        background-color: #fe5d26;
        width: 100%;
        height: 30px;
        color: white;
        border-radius: 5px;
        margin-top: 5px;
    }

    .form h2 {
        padding-top: 0;
        margin-top: 0;
    }

    textarea {
        border: none;
        width: 100%;
    }

    #form-survey label {
        display: block;
        padding-bottom: 10px;
    }

    #form-survey button {
        border: none;
        background-color: #fe5d26;
        width: 100%;
        height: 30px;
        color: white;
        border-radius: 5px;
        margin-top: 10px;
    }

    .form h4 {
        margin-top: 10px;
        margin-bottom: 0;
    }

    #welcome-text {
        text-align: justify;
    }

    .welcome-link {
        display: inline;
        padding: 0;
    }
    /*MEMBERSHIP FORM-----------------------------------------*/

    /*CALENDAR FILTER-----------------------------------------*/
    #events-calendar-search-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: flex-start;
        margin-bottom: 30px;
        width: 75%;
        margin-right: auto;
        margin-left: auto;
    }

    .events-calendar {
        color: #4ecf63;
        border: thin solid #fe5d26;
        margin-right: 20px;
        margin-left: 20px;
        padding: 20px;
        flex: auto;
    }

    .events-searchable-list {
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        flex-basis: 200px;
    }

    #event-input {
        font-size: 16px;
        padding: 10px;
        border: 1px solid #f2c078;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    #event-ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #event-ul li a {
        border: 1px solid #f2c078;
        margin-top: -1px;
        background-color: #faedca;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        color: #fe5d26;
        display: block;
    }

    #event-ul li a:hover:not(.header) {
        background-color: #f2c078;
    }

    /*CALENDAR FILTER-----------------------------------------*/

    /*HISTORY LIGHTBOX CSS------------------------------------*/
    .lightbox-flex {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    .lightbox-child {
        margin: 5px;
    }

    .lightbox-child-dot {
        margin-right: 5px;
        margin-left: 5px;
        background-color: black;
    }
    
    img {
        width: 100%;
        height: auto;
    }  

    /* The Modal (background) */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 20px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: black;
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: black;
        margin: auto;
        padding: 0;
        width: 70%;
        max-width: 1200px;
    }

    /* The Close Button */
    .close {
        color: white;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 35px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
    }

    /* Hide the slides by default */
    .slides {
        display: none;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* Caption text */
    .caption-container {
        text-align: center;
        background-color: black;
        padding: 2px 16px;
        color: white;
    }

    img.thumbnail {
        opacity: 0.6;
    }

    .active,
    .thumbnail:hover {
        opacity: 1;
    }

    img.hover-shadow {
        transition: 0.3s;
    }

    .hover-shadow:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    /*HISTORY LIGHTBOX CSS------------------------------------*/

    /*ABOUT---------------------------------------------------*/
    .about-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        text-align: center;
        justify-content: center;        
    }

    .about-flex-child {
        margin: 10px;
        background-color: #faedca;
        height: 20vw;
        flex-basis: 20vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: contain;
        background-repeat: no-repeat;
        text-decoration: none;
    }

    .about-flex-child:hover {
        background-color: #f2c078;
        color: #fe5d26;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .about-flex-child:hover .about-text {
        font-size: 5vw;
    }

    .about-text {
        font-size: 4vw;
    }

    .text-box {
        background-color: #faedca;
        width: 100%;
    }
    /*ABOUT---------------------------------------------------*/

    /*PRODUCTS------------------------------------------------*/
    #products-big-box {
        width: 75%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
        margin-bottom: 20px;        
    }

    .product-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;
        align-items: flex-start;
    }

    .product-img {
        max-width: 200px;
        max-height: 200px;
    }

    #products-big-box h3 {
        color: #fe5d26;
        margin: 0;
    }

    #products-big-box p {
        margin-right: 40px;
        margin-left: 40px;
        margin-top: 0;
        margin-bottom: 0;
        text-align: justify;
        min-width: 347px;
        max-width: 650px;
    }

    #products-big-box h4 {
        margin: 0;
        flex: auto;
    }
    /*PRODUCTS------------------------------------------------*/

    /*AWARDS--------------------------------------------------*/
    .awards-flex {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .awards-img {
        margin: 10px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-size: contain;
        background-repeat: no-repeat;
        flex-basis: 20vw;
        height: 20vw;
    }

    .awards-name {
        background-color: #faedca;
        width: 100%;
        font-size: 3vw;
        color: #fe5d26;
    }

    .awards-text{
        display: none;
        color: #fe5d26;
        font-size: 2vw;
        flex-basis: 300px;
        text-align: justify;
    }

    .awards-img:hover {
        background-color: #f2c078;
        color: #fe5d26;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .awards-img:hover .awards-name {
        font-size: 5vw;
    }

    #button-flex {
        display: none;
        justify-content: center;
    }

    #return {
        background-color: #fe5d26;
        border-radius: 0;
        color: white;
        border: none;
        padding: 5px;
        font-family: 'Tw Cen MT';
        font-size: 2vw;
    }
    /*AWARDS--------------------------------------------------*/

    /*TUTORIALS FLEXBOX CARDS---------------------------------*/
    .cards {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #faedca;
    }

    .cards-item {
        display: flex;
        padding: 1rem;
        width: 33.3333%;
    }

    .card {
        background-color: white;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .card-image {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        display: block;
        background-size: contain;
        padding-top: 56.25%;
    }

    .card-btn {
        padding: 0.5rem;
        display: block;
        width: 100%;
        border: none;
        background-color: #fe5d26;
        color: white;
        border-radius: 5px;
        font-family: 'Tw Cen MT';
        font-size: 1.5vw;
    }

    .card-btn:hover {
        font-size: 2vw;
    }

    .card-content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: 1rem;
    }

    .card-title {
        color: green;
        font-size: 1.25rem;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .card-text {
        flex: 1 1 auto;
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 1.25rem;
    }

    .image-1 {
        background-image: url('../images/tutorial_1_r.jpeg');
    }

    .image-2 {
        background-image: url('../images/tutorial_2_r.jpg');
    }

    .image-3 {
        background-image: url('../images/tutorial_3_r.jpeg');
    }

    .image-4 {
        background-image: url('../images/tutorial_4_r.jpg');
    }

    .image-5 {
        background-image: url('../images/tutorial_5_r.jpeg');
    }

    .image-6 {
        background-image: url('../images/tutorial_6_r.jpeg');
    }

    .image-7 {
        background-image: url('../images/tutorial_7_r.jpg');
    }
    /*TUTORIALS FLEXBOX CARDS---------------------------------*/
}